.sidebar{
    width: 230px;
    height: 100%;
    display: grid;
    grid-template-rows: 80px 2fr;
    @apply space-y-5 select-none border-r border-gray-200;

    &__header{
        display: grid;
        align-items: center;
        h1{
            @apply font-mclaren font-bold text-xl px-3;
        }
    }

    &__body{
        display: grid;
        grid-template-rows: 1fr 0fr;
        overflow-y: auto;
        position: relative;
        @apply gap-5 pb-5;
    }
    &__body > span{
        content: '';
        position: absolute;
        // border-right: 3px solid #369583;
        backface-visibility: hidden;
        background-color: #369583;
        border-radius: 100rem;
        height: 0px;
        width: 3px;
        top: 0;
        right: 0;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    &__menu{
        @apply space-y-6;

        &--item{
            @apply grid items-center ;
        }
        &--link{
            display: grid;
            grid-template-columns: 0fr 1fr;
            align-items: center;
            height: 100%;
            transition: all .2s ease-in-out;
            @apply  gap-2 text-gray-500;

            h2{
                @apply font-poppins font-medium;
            }
        }
        &--link.active{
            color: black;
        }
    }
    &__footer{
        @apply space-y-4;
        &--item{
            @apply grid items-center ;
        }
        &--link{
            display: grid;
            grid-template-columns: 0fr 1fr;
            align-items: center;
            height: 100%;
            transition: all .2s ease-in-out;
            @apply  gap-2 text-gray-500;

            h2{
                @apply font-poppins font-medium;
            }
        }
    }
}